
html{
}

body{
  font-family: serif fantasy monospace;  
  background-image: url"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0LdyEKjNm5_uY7eRwxAQeX60K0KiuuZlx-pflkk-68ZLb_-o&s";
}

.box{
  width: 60%;
  height: 100%;
  border-style: solid;
  margin: 0 auto;
} 

.name{
  border-style: solid;
  border-color: #008b8b;
  width: 55%;
  margin: 20 auto;
}

.contents{
  border-style: solid;
  width:40%;
}

.migigawa{
  border-style: solid;
  width:20%;
}

