h1{
  text-shadow: 1px 1px 1px #008b8b; 
}
.ue{
  width: 60%
  margin-top: 20px;
  padding-top: 10px
  border-style: solid;
  border-width: thin;
  border-color: #008b8b;
  text-align: center;  
}

.naka{
  display: flex; 
  border-style: solid;
} 
.blog{
  width: 600px;
  height: 1000px;
  margin-top: 20px;
  padding-top: 20px;
  border-style: solid;
  border-width: thin;
  border-color: #008b8b;
  text-align: center;
}

.migi{
    border-style: solid;
    margin: 20px;
}


