
body{
  font-family: serif fantasy monospace;
  background-image:url("背景.jpg");　
}

.box{
  border-style: solid;
  background: #fff;
  width: 60%;
  margin: 0 auto;
} 

.name{
  border-style: solid;
  border-radius: 20px;
  background: linear-gradient(to bottom, #ffebcd 50%, #d3d3d3 50%);
  width: 90%;
  margin: 20px auto;
}

.nakami{
  display: flex;
}

.contents{
  border-style: solid;
  width:70%;
}

.migigawa{
  border-style: solid;
  width:30%;
}

